/* App.css */
body {
  margin: 0;
  padding: 0;
  background-image: url('../../public/volunteer.jpg'); /* Replace with your background image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app-bar {
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
}
